<template>
    <div class="container">
        <!--style="max-height: 25vh; overflow: scroll;"-->
        <div class="row justify-content-center">

            <div class="col-6">
                <!--<span class="badge badge-primary m-2">Table</span>-->
                <div v-if="!isempty">
                    <table class="table table-striped table-dark table-hover">
                        <thead>
                            <th class="text-center" style="min-width: 50px;"> id </th>
                            <th class="text-center">Название организации</th>
                        </thead>
                        <tbody>
                            <tr v-for="(org, id) in orgs">
                                <td v-if="id < mid" class="text-center">{{org.org_id}}</td>
                                <td v-if="id < mid" class=" px-2">{{org.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h3><b>Пока нет организаций</b></h3>
                </div>
            </div>

            <div class="col-6">
                <!--<span class="badge badge-primary m-2">Table</span>-->
                <div v-if="!isempty">
                    <table class="table table-striped table-dark table-hover">
                        <thead>
                        <th class="text-center" style="min-width: 50px;"> id </th>
                        <th class="text-center">Название организации</th>
                        </thead>
                        <tbody>
                        <tr v-for="(org, id) in orgs">
                            <td v-if="id >= mid" class="text-center">{{org.org_id}}</td>
                            <td v-if="id >= mid" class=" px-2">{{org.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h3><b>Пока нет организаций</b></h3>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                mid: 0,
                orgs: [],
                isempty: false,
            }
        },
        mounted() {
            this.update();
        },
        methods: {
            update: function () {
                axios.post('/api/orgTable').then((response) => {
                    this.orgs = response.data;
                    this.mid = Math.round(this.orgs.length/2);
                    this.isempty = response.data.length == 0 ? true : false;
                    // console.log(this.isempty) ;
                });
            },

        }
    }
</script>
