<template>
    <div class="container">
        <!--style="max-height: 100vh; overflow: scroll;"-->
        <div class="row justify-content-center">
            <div class="col-auto">
                <!--<span class="badge badge-primary m-2">Table</span>-->
                <div v-if="!isempty">

                    <!--<div class="wrap" v-for="(vac, pid) in vacs">-->
                        <!--<div class="org" v-for="(item, iKey) in vac">-->

                            <!--<h3 class="text-left">Организация: {{item.main_org}}</h3>-->
                            <!--<a class="btn btn-secondary" :href="item.main_url">Ссылка на вакансию</a>-->
                            <!--<hr>-->
                                <table class="table table-dark table-hover">
                                    <thead>
                                    <th class="text-center" style="color: green;"><b>Клиент</b></th>
                                    <th class="text-center" style="color: green;"><b>url вакансии клиента</b></th>
                                    <th class="text-center">id</th>
                                    <th class="text-center">Название</th>
                                    <th class="text-center">url вакансии</th>
                                    <!--<th class="text-center">Текст вакансии</th>-->
                                    <!--<th class="text-center">Оригинальный текст</th>-->
                                    </thead>
                                    <tbody v-for="(vac, pid) in vacs">
                                    <tr v-for="(item, iKey) in vac">
                                        <td><b style="color: green;">{{item.main_org}}</b></td>
                                        <td><a :href="item.main_url" class="btn btn-secondary"><b style="color: green;">{{item.main_url}}</b></a></td>

                                        <td>{{item.vacancy_id}}</td>
                                        <td>{{item.name}}</td>
                                        <td><a :href="item.url" class="btn btn-secondary">{{item.url}}</a></td>
                                        <!--<td>{{item.text}}</td>-->
                                        <!--<td>{{item.main_text}}</td>-->
                                    </tr>
                                    </tbody>
                                </table>

                        <!--</div>-->
                    <!--</div>-->

                </div>
                <div v-else>
                    <h3><b>Пока нет организаций</b></h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                vacs:[],
                isempty: false,
            }
        },
        mounted() {
            this.update();
        },
        methods: {
            update: function () {
                axios.post('/api/compareRes').then((response) => {
                    this.vacs = response.data;
                    this.isempty = response.data.length == 0 ? true : false;
                    // console.log(response.data) ;
                });
            },

        }
    }
</script>
